*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    background-color: #eee2d9;
   
}

body{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    position: absolute;
}

header{
    background-color: #eee2d9;
    width: 100%;
    position: absolute;
   
}

.container{
    max-width: 1080px;
    /*centraliza o container*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /*box-shadow:  3px 3px 5px rgba(0, 0, 0, 0.5);*/
    position: relative;
}
.logo{
    position: relative;
    width: 40px;
    height: 40px;
    padding: 15px;
}

/*Nome da tag.Nome da classe*/
.imgLogo{
    position: relative;
    width: 100%;
    height: 100%;
    
}

.menu{
    /*background-color: blue;*/
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}

.loja{
    text-transform: uppercase;
}

.btnComprar{
    background-color: #c5a183;
    color: white;
    padding: 5px;
    text-transform: uppercase;
}

.menu nav a{
    /*background-color: red;*/
    text-decoration: none;
    padding: 15px;
    color: black;
}

.slide{
    width: 100vw;
    height: 100vh;
    
    position: relative;

}

.slide img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: opacity 400ms;
}

.slide img.selected{
    opacity: 1;
}

